*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;  
}

.content{
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.left-part{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    width: 40vw;
    height: 100vh;
}
.background{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1551524431-cb613a235076?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.odin{
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    background-color: rgba(27, 27, 27, 0.6);
    font-family: 'Skranji', cursive;
    font-size: 5rem;
    color: white;
}

.odin img{
    height: 12vh;
    width: 9vh;
}

.right-part{
    display: flex;
    flex-flow: column wrap;
    width: 60vw;
    height: 100vh;
    overflow: hidden;
}

.quote{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    width: 100%;
    height: 30vh;
    background-color:#F9F5F5;
    padding: 30px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    width: 60vw;
    overflow: hidden;
}
.form p{
    padding-bottom: 20px;
    padding-left: 5px;
}

.form form{
    display: flex;
    flex-flow: row wrap;
    width: 60vw;
    gap: 1rem;
}

.input{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-left: 5px;
}

.error{
    border: 2px solid rgba(218, 2, 2, 0.521);
}
.error:focus{
    box-shadow: inset 0px 0px 0px 1px rgba(218, 2, 2, 0.521);

}

.success{
    border: 2px solid rgba(24, 212, 7, 0.521);
}
.success:focus{
    box-shadow: inset 0px 0px 0px 1px rgba(24, 212, 7, 0.521);

}

input{
    outline: none;
    padding: 3px;
    border-radius: 9999em;
    border: 2px solid rgba(82, 81, 81,0.6);
}


input:focus{
    box-shadow: inset 0px 0px 0px 1px rgba(82, 81, 81,0.4);

}

.create{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 3vh;
    height: 30vh;
    background-color:#F9F5F5;
    padding: 5%;
}

.submit-button{
    background-color: #F9F5F5;
    width: 300px;
    font-size: 1.1em;
    font-weight: 800;
    color:rgb(30, 117, 8) ;
    text-align: center;
    padding: 10px 30px;
    margin: 30px 0;
    border: 1px solid rgb(30, 117, 8);
    border-radius: 8px;
    transition: 0.5s;
}

.submit-button:hover{
    color: #F9F5F5;
    background-color:rgb(30, 117, 8);
    border: 1px solid #F9F5F5;
    transition: 0.5s;
}

#message{
    font-size: 0.8rem;
    padding-top: 2px;
}

@media only screen and (max-width: 800px) {
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        overflow: hidden;
        
    }
    .content{
        display: flex;
        flex-flow: column wrap;
    }

    .left-part{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        width: 100vw;
        height: 20vh;
    }
    .odin{
        display: flex;
        width: 100%;
        height: 70%;
    }

    .right-part{
        display: flex;
        flex-flow: row wrap;
        width: 100vw;
        height: 80vh;
    }
    .quote{
        height: 10vh;
    }
    .form{
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100vw;
        overflow: hidden;
    }

    .input{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .create{
        padding: 0;
        align-items: center;
        justify-content: center;
        height: 20vh;
        width: 100vw;
        background-color:#F9F5F5;
    }
  }
