*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.content{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.left-part{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    width: 40vw;
    height: 100vh;
}
.background{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1551524431-cb613a235076?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.odin{
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    background-color: rgba(27, 27, 27, 0.6);
    font-family: 'Skranji', cursive;
    font-size: 5rem;
    color: white;
}

.odin img{
    height: 12vh;
    width: 9vh;
}

.right-part{
    display: flex;
    flex-flow: column wrap;
    width: 60vw;
    height: 100vh;
}

.quote{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    width: 100%;
    height: 35vh;
    background-color:#F9F5F5;
    padding: 30px;
}

.form{
    display: flex;;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    width: 60vw;
    overflow: hidden;
}
.form p{
    padding-bottom: 10px;
    padding-left: 5px;
}

.form form{
    display: flex;
    flex-flow: row wrap;
    width: 60vw;
    gap: 1rem;
}

.input{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-left: 5px;
}

.create{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    width: 100%;
    height: 35vh;
    background-color:#F9F5F5;
    padding: 30px;
}
